@{
    ViewData["Title"] = "Blank Page";
}

<html lang="es">
<head>
    <title>Blank Page</title>

</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido 👋</h1>
        <p>¿Qué quieres hacer ahora?</p>    
</div>
</body>
</html>