<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        @* <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">Malware - <strong>Programador</strong></a>
            </div>
        </div> *@
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/dist/img/default-150x150.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">Re<strong>Act</strong> v2 📝</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="¿Qué desea buscar?" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column user-panel" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Métricas
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>

                @* Procesamiento *@
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Procesamiento
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">3</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Acta" asp-action="AddVotesPresident" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Presidenciales</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Acta" asp-action="AddVotesSenator" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Senatoriales</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Acta" asp-action="AddVotesCongressman" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Diputados</p>
                            </a>
                        </li>
                    </ul>
                </li>

                @* Visualización *@
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-eye"></i>
                        <p>
                            Ver actas
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">3</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Acta" asp-action="AddVotesPresident" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Presidenciales</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Acta" asp-action="AddVotesSenator" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Senatoriales</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Acta" asp-action="AddVotesCongressman" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Diputados</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
