@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">

</head>
<body class="hold-transition layout-fixed login-page">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <div class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo">
            <a class="h1"><b>Re</b>Act ⭐</a>PLD
        </div>
    </div>

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1">
                    <b>
                        <div class="spinner-grow text-warning" role="status">
                            <span class="sr-only">⭐</span>
                        </div>
                        Re
                    </b>Act
                </a> v2 - PLD
            </div>
            <div class="card-body">
                <p class="login-box-msg">Inicie sesión con sus credenciales</p>

                <form action="#" method="post">
                    <div class="input-group mb-3">
                        <input id="userNameInput" type="text" class="form-control" placeholder="Usuario">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-card"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="passwordInput" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <button id="togglePasswordBtn" class="btn btn-outline-secondary" type="button">
                                <span class="fas fa-eye" id="toggleIcon"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button id="btnLogin" class="bookmarkBtn">
                                <span class="IconContainer">
                                    ✏
                                </span>
                                <p class="text">Entrar</p>
                            </button>
                        </div>
                        <!-- /.col -->

                        <div id="loadingSpinner" class="spinner-border" style="display: none;" role="status"></div>
                    </div>

                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


    <script>
        var spinner = document.getElementById("loadingSpinner");

        $(document).ready(function () {

            $("#btnLogin").click(function (event) {
                spinner.style.display = "block";

                event.preventDefault();

                var userName = $("#userNameInput").val();
                var password = $("#passwordInput").val();

                $.ajax({
                    url: "/Login/Login",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    data: { userName: userName, password: password },
                    success: function (response) {
                        if (response.success) {
                            window.location.href = "/Home/Index";
                        } else {
                            toastr.warning("Credenciales incorrectas.");
                            toastr.warning("¡Usuario inválido!");
                            spinner.style.display = "none";
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error("Ocurrió un error al iniciar sesión");
                        spinner.style.display = "none";
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#btnCrearUsuario").click(function (event) {
                event.preventDefault();

                var userName = $("#userNameInput").val();
                var password = $("#passwordInput").val();

                $.ajax({
                    url: "/Login/CrearUsuario",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    data: { userName: userName, password: password },
                    success: function (response) {
                        if (response) {
                            toastr.success("¡El usuario se ha creado con éxito!");
                        } else {
                            toastr.error("¡No se pudo crear el usuario!");
                        }
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.responseText;
                        toastr.error("Ocurrió un error al crear el usuario: " + errorMessage);
                    }
                });
            });
        });

        document.getElementById('togglePasswordBtn').addEventListener('click', function () {
            var passwordInput = document.getElementById('passwordInput');
            var toggleIcon = document.getElementById('toggleIcon');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        });
    </script>

</body>
</html>
