<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page layout-fixed login-page">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <div class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo">
            <a class="h1"><b>Re</b>Act ⭐</a>PLD
        </div>
    </div>

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1">
                    <b>
                        <div class="spinner-grow text-warning" role="status">
                            <span class="sr-only">⭐</span>
                        </div>
                        Re
                    </b>Act
                </a> v2 - PLD
            </div>
            <div class="card-body">
                <p class="login-box-msg">Inicie sesión con sus credenciales</p>

                <form action="#" method="post">
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="Cédula">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-card"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button class="bookmarkBtn">
                              <span class="IconContainer">
                                ✏
                              </span>
                              <p class="text">Entrar</p>
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                    
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
